/* static/css/styles.css */

/* 기본 스타일 */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* 배경 컨테이너 스타일 */
.background-container {
    position: fixed; /* 화면에 고정하여 스크롤과 관계없이 표시 */
    top: 0;
    left: 0;
    width: 100vw; /* 화면의 전체 너비 */
    height: 100vh; /* 화면의 전체 높이 */
    background-image: url('/static/images/22.jpg'); /* 배경 이미지 경로 */
    background-size: cover; /* 이미지가 화면을 채우도록 설정 */
    background-position: center; /* 이미지의 중심을 기준으로 설정 */
    background-repeat: no-repeat; /* 이미지가 반복되지 않도록 설정 */
    z-index: -1; /* 다른 콘텐츠보다 뒤로 보내기 */
}

h1 {
    color: #ffffff;
}

h2{
    color: #ffffff;
}
.video-preview {
    border: 2px solid #dadada96;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.video-container-wrapper {
    width: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 0 auto; /* 추가된 부분 */
}

.video-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.4);
    
}

.video-box {
    border: 3px solid #ffffffb4;
    padding: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.logout-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.logout-button button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #5d5d5d;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.logout-button button:hover {
    background-color: #9c9b9b;
}
